<div class="foo">
  <span class="letter" data-letter="T">T</span>
  <span class="letter" data-letter="H">H</span>
  <span class="letter" data-letter="E">E</span>
  <span class="letter" data-letter="A">A</span>
  <span class="letter" data-letter="T">T</span>
  <span class="letter" data-letter="E">E</span>
  <span class="letter" data-letter="R">R</span>
  <span class="letter" data-letter="S">S</span>
  <div class="box5 shadow5">
    <p class="intro ">Check out the theatres we’re accommodating at the time – be patient, more places adding up really soon!</p>
  </div>
</div>



<div [@listStagger]="theaters$">
  <div class="row card-group">
    <div class="col-md-12">
      <div class="example-1 card" *ngFor='let theater of theaters$'>
        <div class="wrapper">
          <img src='/assets/images/theatres/{{theater.theatreId}}.jpg' styles='max-height:100%; max-width:100%;'>
          <div class=" date ">
            <span class="day ">{{theater.theatreId}}</span>
          </div>
          <div class="data ">
            <div class="content ">
              <h1 class="title "> {{theater.theatreName}} </h1>
              <p class="text ">
                <strong>Location: </strong> {{theater.city.cityName}}</p>
              <p class="text ">
                <strong>Address: </strong> {{theater.theatreAddress}}</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>