
@keyframes circle-ani1 {
  0% {
    transform: translateX(0px) translateY(0px);
  }
  20% {
    transform: translateX(20px) translateY(-10px);
  }
  40% {
    transform: translateX(-10px) translateY(-30px);
  }
  60% {
    transform: translateX(-20px) translateY(-10px);
  }
  80% {
    transform: translateX(10px) translateY(10px);
  }
  100% {
    transform: translateX(0px) translateY(0px);
  }
}
@keyframes circle-ani2 {
  0% {
    transform: translateX(20px) translateY(0px);
  }
  20% {
    transform: translateX(-10px) translateY(20px);
  }
  40% {
    transform: translateX(0px) translateY(-10px);
  }
  60% {
    transform: translateX(20px) translateY(0px);
  }
  80% {
    transform: translateX(-10px) translateY(20px);
  }
  100% {
    transform: translateX(20px) translateY(0px);
  }
}
@keyframes circle-ani3 {
  0% {
    transform: translateX(-30px) translateY(10px);
  }
  20% {
    transform: translateX(-10px) translateY(0px);
  }
  40% {
    transform: translateX(0px) translateY(-20px);
  }
  60% {
    transform: translateX(20px) translateY(10px);
  }
  80% {
    transform: translateX(15px) translateY(-20px);
  }
  100% {
    transform: translateX(-30px) translateY(10px);
  }
}
.circle1 {
  width: 500px;
  height: 500px;
  background-color: #213145;
  border: 0;
  opacity: 0.3;
  position: fixed;
  border-radius: 100%;
  bottom: -254px;
  left: -255px;
  animation: circle-ani1 10s infinite;
  animation-timing-function: linear;
}

.circle2 {
  width: 120px;
  height: 120px;
  background-color: #213145;
  border: 0;
  opacity: 0.5;
  position: fixed;
  border-radius: 100%;
  bottom: 214px;
  left: -69px;
  animation: circle-ani2 10s infinite;
  animation-timing-function: linear;
}

.circle3 {
  width: 30px;
  height: 30px;
  background-color: #213145;
  border: 0;
  opacity: 0.6;
  position: fixed;
  border-radius: 100%;
  top: 183px;
  left: 78px;
  animation: circle-ani3 10s infinite;
  animation-timing-function: linear;
}

.circle4 {
  width: 220px;
  height: 220px;
  background-color: transparent;
  border: solid 2px #213145;
  opacity: 0.6;
  position: fixed;
  border-radius: 100%;
  bottom: -100px;
  left: 100px;
  animation: circle-ani3 10s infinite;
  animation-timing-function: linear;
}

.circle5 {
  width: 50px;
  height: 50px;
  background-color: #213145;
  border: 0;
  opacity: 0.5;
  position: fixed;
  border-radius: 100%;
  bottom: 30px;
  left: 298px;
  animation: circle-ani2 10s infinite;
  animation-timing-function: linear;
}
.circle6 {
  width: 300px;
  height: 300px;
  background-color: transparent;
  border: solid 2px #213145;
  opacity: 0.6;
  position: fixed;
  border-radius: 100%;
  top: -150px;
  right: -80px;
  animation: circle-ani3 10s infinite;
  animation-timing-function: linear;
  z-index: -1;
}

.circle7 {
  width: 165px;
  height: 165px;
  background-color: #213145;
  border: 0;
  opacity: 0.45;
  position: fixed;
  border-radius: 100%;
  top: 71px;
  right: -106px;
  animation: circle-ani1 10s infinite;
  animation-timing-function: linear;
}

.circle8 {
  width: 20px;
  height: 20px;
  background-color: #213145;
  border: 0;
  opacity: 0.1;
  position: fixed;
  border-radius: 100%;
  top: 183px;
  right: 78px;
  animation: circle-ani2 10s infinite;
  animation-timing-function: linear;
}



.card {
  margin-top:3%;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5%; 

}

img {
    max-width:40%;
  max-height:40%;
    border-radius: 50%;
    margin-top: 1%;
    margin-bottom: 3%;
    
}


.card-header{
     text-align: center;  
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

li {
  text-align: center;
}
/* dfbf87 */





.button1 {
  display: inline-block;
  border-radius: 4px;
  background-color: #000000;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 90%;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 17px;
  margin-bottom: 20px;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}