h3 {
    margin-top: 5%;
    margin-left: 7%;
}
.card-text {
    margin-bottom: 1%;
    text-align: justify;
}

.card-body {
    padding: 1%;
}

body {
  background: #e5ded8;
  box-sizing: border-box;
}

.blog-container {
  background: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
  font-family: "adelle-sans", sans-serif;
  font-weight: 100;
  margin-left: -15%;
  margin-top: 10%;
  width: 10rem;
}
@media screen and (min-width: 480px) {
  .blog-container {
    width: 28rem;
  }
}
@media screen and (min-width: 767px) {
  .blog-container {
    width: 15rem;
  }
}
@media screen and (min-width: 959px) {
  .blog-container {
    width: 35rem;
  }
}

.blog-container a {
  color: #4d4dff;
  text-decoration: none;
  transition: .25s ease;
  margin-left: -15%;
}
.blog-container a:hover {
  border-color: #ff4d4d;
  color: #ff4d4d;
}

.blog-cover {
  background-size: cover;
  border-radius: 5px 5px 0 0;
  height: 15rem;
  box-shadow: inset rgba(0, 0, 0, 0.2) 0 64px 64px 16px;
}


.blog-body {
  margin: 0 auto;
  width: 80%;
}

h4 {
    font-size: 18px;
    line-height : 50px;
}

.btn {   

    background-color: #213145;
  color: #FFFFFF;

    margin-top: -10%;
    margin-left: 1%;
    margin-bottom: 1%;
    float: right;}


.material-icons {
    margin-top: 1%;
    margin-right:1%;
    padding-bottom: -10%;
    font-size: 20px;  
 
}
.col-md-12 {
    margin-top: 10%;
}
body {
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
}

.lib-panel {
    margin-bottom: 20Px;
    margin-top: 40Px;
}
.lib-panel img {
    width: 460px;
    height: 600px;
    background-color: transparent;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}


.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 28px;
    padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 16px;
}
.lib-panel .lib-row.lib-desc a{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.no-padding {
    padding: 0;
}

.scroll-box {
    overflow-y: scroll;
    height: 200px;
    padding: 1rem
   }


