.bg {

    background-image: url(/assets/images/loginsignupbackground3.jpg);
    
        /* Set rules to fill background */
        min-height: 100%;
        min-width: 1024px;
          
        /* Set up proportionate scaling */
        width: 100%;
        height: auto;
          
        /* Set up positioning */
        position: fixed;
        top: 0;
        left: 0;}
    
            
    
    
    /* @import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
    * {
      font-family: 'Open Sans', sans-serif;
    } */
    
    .img {
        width:100%;
    }
    
    
    .SignupSection {
      background: url(https://source.unsplash.com/TV2gg2kZD1o/1600x800);
      background-repeat: no-repeat;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 800px;
      height: 450px;
      text-align: center;
      display: flex;
      color: white;
      box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .5);
    }
    
    .info {
      width: 45%;
      background: rgba(20, 20, 20, .8);
      padding: 30px 0;
      border-right: 5px solid rgba(30, 30, 30, .8);
    }
    
      .icon {
        font-size: 8em;
        padding: 20px 0;
        color: rgba(10, 180, 180, 1);
      }
    
    
    .signupForm {
      width: 70%;
      padding: 30px 0;
      background: rgba(20, 40, 40, .8);
      transition: .2s;
    }
    .signupForm h2 {
        font-weight: 300;
      }
    
    
    .inputFields {
      margin: 15px 0;
      font-size: 16px;
      padding: 10px;
      width: 250px;
      border: 1px solid rgba(10, 180, 180, 1);
      border-top: none;
      border-left: none;
      border-right: none;
      background: rgba(20, 20, 20, .2);
      color: white;
      outline: none;
    }
    
    .noBullet {
      list-style-type: none;
      padding: 0;
    }
    
    #join-btn {
      border: 1px solid rgba(10, 180, 180, 1);
      background: rgba(20, 20, 20, .6);
      font-size: 18px;
      color: white;
      margin-top: 20px;
      padding: 10px 50px;
      cursor: pointer;
      transition: .4s;
      width: 180px;
    }
    #join-btn:hover {
        background: rgba(20, 20, 20, .8);
        padding: 10px 80px;
      }
    
      #join-btn1 {
        border: 1px solid rgba(10, 180, 180, 1);
        background: rgba(20, 20, 20, .6);
        font-size: 18px;
        color: white;
        margin-top: 20px;
        padding: 10px 50px;
        cursor: pointer;
        transition: .4s;
        width: 180px;
      }

      #join-btn1:hover {
          background: rgba(20, 20, 20, .8);
          padding: 10px 80px;
        }
      
    
    
    