<div class="col-md-12">
    <div class="creditCardForm">
        <div class="heading">
            <h1>Confirm Purchase</h1>
        </div>
        <div class="payment">
            <form>
                <div class="form-group owner">
                    <label for="owner">Owner</label>
                    <input type="text" class="form-control" id="owner">
                </div>
                <div class="form-group CVV">
                    <label for="cvv">CVV</label>
                    <input type="text" class="form-control" id="cvv">
                </div>
                <div class="form-group" id="card-number-field">
                    <label for="cardNumber">Card Number</label>
                    <input type="text" class="form-control" id="cardNumber">
                </div>
                <div class="form-group" id="expiration-date">
                    <label>Expiration Date</label>
                    <select>
                        <option value="01">January</option>
                        <option value="02">February </option>
                        <option value="03">March</option>
                        <option value="04">April</option>
                        <option value="05">May</option>
                        <option value="06">June</option>
                        <option value="07">July</option>
                        <option value="08">August</option>
                        <option value="09">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                    </select>
                    <select>
                        <option value="18"> 2018</option>
                        <option value="19"> 2019</option>
                        <option value="20"> 2020</option>
                        <option value="21"> 2021</option>
                        <option value="22"> 2022</option>
                        <option value="23"> 2023</option>
                    </select>
                </div>
                <div class="form-group" id="credit_cards">
                    <img src='/assets/images/checkout/visa.png' id="visa">
                    <img src="assets/images/checkout/master.png" id="mastercard">
                    <img src="assets/images/checkout/american.png" id="american">
                </div>
                <div class="form-group" id="pay-now">
                    <button class="btn btn-primary" (click)="checkoutAndPrintTickets()" routerLink="/movies" routerLinkActive="active" id="confirm-purchase">Confirm</button>
                </div>
                <!-- <div class="form-group" id="pay-now">
                    <a href='https://www.paypal.com/signin?returnUri=https%3A%2F%2Fwww.paypal.com%2Fcgi-bin%2Fwebscr%3fcmd%3d_account' class="btn btn-primary">Proceed to PayPal</a>
                </div> -->
            </form>
        </div>
    </div>
</div>