<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous">

<div class="content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="page-head-line">Admin Panel</h4>

            </div>

        </div>
        <div class="row">

        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="dashboard-div-wrapper bk-clr-one">
                    <i class="fa fa-building dashboard-div-icon"></i>
                    <a class="btn btn-info" role="button" routerLink="/citiesmanagment" routerLinkActive="active" style="vertical-align:middle">
                        <h5> Manage Cities</h5>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="dashboard-div-wrapper bk-clr-two">
                    <i class="fa fa-desktop dashboard-div-icon"></i>

                    <a class="btn btn-info" role="button" routerLink="/theatermanagment" routerLinkActive="active" style="vertical-align:middle">
                        <h5> Manage Theaters </h5>
                    </a>
                </div>
            </div>
            <!-- <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="dashboard-div-wrapper bk-clr-three">
                    <i class="fa fa-calendar dashboard-div-icon"></i>
                    <a class="btn btn-info" role="button" routerLink="/showsmanagment" routerLinkActive="active" style="vertical-align:middle">
                        <h5> Manage Shows </h5>
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="dashboard-div-wrapper bk-clr-four">
                    <i class="fa fa-tags dashboard-div-icon"></i>
                    <a class="btn btn-info" role="button" routerLink="/bookingmanagment" routerLinkActive="active" style="vertical-align:middle">
                        <h5> Manage Bookings </h5>
                    </a>
                </div>
            </div> -->

            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="dashboard-div-wrapper bk-clr-five">
                    <i class="fa fa-users dashboard-div-icon"></i>
                    <a class="btn btn-info" role="button" routerLink="/usersmanagment" routerLinkActive="active" style="vertical-align:middle">
                        <h5> Manage Users </h5>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="dashboard-div-wrapper bk-clr-six">
                    <i class="fa fa-play-circle dashboard-div-icon"></i>
                    <a class="btn btn-info" role="button" routerLink="/moviesmanagment" routerLinkActive="active" style="vertical-align:middle">

                        <h5> Manage Movies </h5>
                    </a>
                </div>
            </div>
            <!-- <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="dashboard-div-wrapper bk-clr-seven">
                    <i class="fa fa-sitemap dashboard-div-icon"></i>
                    <a class="btn btn-info" role="button" routerLink="/seatsmanagment" routerLinkActive="active" style="vertical-align:middle">
                        <h5> Manage Seats </h5>
                    </a>
                </div>
            </div> -->

        </div>