body {
    background-image: url(/assets/images/loginsignupbackground3.jpg);
           /* Set rules to fill background */
        min-height: 100%;
        min-width: 1024px;
          
        /* Set up proportionate scaling */
        width: 100%;
        height: auto;
          
        /* Set up positioning */
        position: fixed;
        top: 0;
        left: 0;
        opacity:  0.2;

}